* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart{
    width: 100vw;
    height: 85vh;
    background-color: rgba(137, 43, 226, 0.468);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@media (max-width: 480px) {
    .cart{
        width: 100vw;
        height: 65vh;
        overflow-x: hidden;
        margin: 0 auto;
    }
}

.carrito-vacio{
    width: 100%;
    height: 100vh;
    background-color: rgba(137, 43, 226, 0.468);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.vaciar {
    background-color: #EB302D;
    color: #FAFAFA;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.comprar{
    background-color: green;
    width: 100%;
    text-align: center;
    color: #FAFAFA;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 780px) {
    .comprar{
        width: 50%;
    }
}

