* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartItem{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eliminar {
    background-color: #EB302D;
    color: #FAFAFA;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}