/* Estilos generales para el contenedor de productos */
.contenedorProductos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Estilos para los elementos individuales de la lista de productos */
.item {
    background-color: white;
    border: 1px solid red;
    border-radius: 4px;
    padding: 10px;
    flex: 1 1 calc(33.333% - 20px); /* Tres columnas con espacio entre ellas */
    box-sizing: border-box;
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
    .item {
        flex: 1 1 calc(50% - 20px); /* Dos columnas con espacio entre ellas */
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
    .item {
        flex: 1 1 100%; /* Una columna */
    }
}



/*  --- actual ---
.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
}
    */