/* Estilos generales para la barra de navegación */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    overflow-x: hidden;
}

.title {
    font-size: 24px;
}

.categoria {
    display: flex;
    gap: 15px;
}

.Option {
    color: white;
    text-decoration: none;
}

.ActiveOption {
    color: yellow;
}



/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .categoria {
        flex-direction: column;
        gap: 10px;
    }

    .title {
        font-size: 20px;
    }
}


/* Estilos para pantallas muy pequeñas */
@media (max-width: 480px) {
    .navbar {
        width: 100vw;
        overflow-x: hidden;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 18px;
    }

    .Option,
    .ActiveOption {
        font-size: 14px;
    }
}




/*  --- actual --- 
header {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid red;
}

li {
    
    margin: 16px;
    display: inline-block;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
    */



/*
.navbar{
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 10px;
}

.title{
    text-decoration: none;
}

.categoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 5px;
}

.Option{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.149);
    border: 1px solid rgba(255, 0, 0, 0.657);
    border-radius: 6px;
    padding: 2px;
}

.ActiveOption{
    text-decoration: none;
}
    */