.register{
    width: 100vw;
    background-color: rgba(137, 43, 226, 0.468);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.registrarse{
    background-color: green;
    width: 100%;
    text-align: center;
    color: #FAFAFA;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.input{
    border: solid 1px #000;
}