* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorItem {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.596);
}

.comprar {
    background-color: #EB302D;
    color: #FAFAFA;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.contenedorItem img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.contenedorItem h2 {
    font-size: 24px;
    margin: 10px 0;
}

.contenedorItem p {
    font-size: 18px;
    margin: 5px 0;
}

.contenedorItem .precio {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.contenedorItem .contador {
    margin: 20px 0;
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
    .contenedorItem {
        padding: 15px;
    }

    .contenedorItem h2 {
        font-size: 20px;
    }

    .contenedorItem p {
        font-size: 16px;
    }

    .contenedorItem .precio {
        font-size: 18px;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
    .contenedorItem {
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        margin: 0 auto;
        padding: 10px;
    }

    .contenedorItem h2 {
        font-size: 18px;
    }

    .contenedorItem p {
        font-size: 14px;
    }

    .contenedorItem .precio {
        font-size: 16px;
    }
}



/*  --- actual ---
.contenedorItem{
    background-color: rgba(255, 0, 0, 0.368);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;
    border-radius: 10px;
    border: black 3px solid;
}

.cardProducto {
    background-color: rgba(255, 0, 0, 0.368);
    border-radius: 10px;
    width: 20rem;
    padding: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto img {
    width: 250px;
    border-radius: 5px;
}

.btn {
    background-color:#EB302D;
    color: #FAFAFA;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}
    */